@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,200;0,500;0,600;1,200;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
    font-family: 'open sans', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    padding: 1em 2.5em;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 5px 222px;
    font-size: clamp(.9rem, 1.125vw, 1.125rem);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.418);
    transition: all 250ms ease;
    text-align: center;
}

/*.link{
    margin-left: 1800px;
    text-decoration: none;
    padding: 1em 2.5em;
background-color: hsl(322, 100%, 66%);
color: white;
border-radius: 5px 222px;
font-size: clamp(.9rem, 1.125vw, 1.125rem);
box-shadow: 0px 2px 10px rgba(0,0,0,0.418);
transition: all 250ms ease;
text-align: center;

}*/
a:hover {
    transform: translate(-10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.418);
}

h1,
h2 {
    color: hsl(192, 100%, 9%);
    font-family: 'poppins', sans-serif;
}

h2 {
    padding: 1em 0;
    font-size: clamp(2rem, 2.5vw, 2.5rem);
}

p {
    color: rgba(0, 0, 0, 0.705);
    font-size: clamp(.9rem, 1.125vw, 1.125rem);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

}

.container-block {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8em 5em 4em 5em;

}


/*-----------------nav---------------*/
nav {
    display: flex;
    flex-direction: row;
    padding: 3rem 7rem 0 7rem;
    justify-content: space-between;
}

Nav img {
    width: clamp(8rem, 12vw, 12rem);
    height: 2rem;

}

Nav a {
    background-color: transparent;
    border: 2px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    font-size: clamp(.8rem, 1.125vw, 1.125rem);
    padding: .3em 2em .2em 2em;
    text-align: center;
    height: 2.5em;
    box-shadow: none;
}

Nav a:hover {
    color: white;
    border-color: pink;
    box-shadow: none;
    transform: none;
    background-color: hsl(322, 100%, 66%);
    text-align: center;
}

/*-----------section1-----------*/


#section1 h1 {
    font-size: clamp(1.7rem, 3vw, 3rem);
}

#section1 p {
    padding: 1em;
    width: 55%;
    margin-bottom: 2rem;

}

/*--------------section3--------*/
#section3 p,
#section3 h1 {
    text-align: center;

}

#section3 p {
    width: 100%;
}

#section3 h1 {
    font-size: clamp(3.3em, 4.3vw, 4.3rem);
    padding-top: 1rem;
}

#section3 img {
    width: 1.7rem;
    position: absolute;
    left: 0.7em;

}

#section3 .box {
    width: 35%;
    position: relative;

}

#section3 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

/*------------section4----------*/
.wrapper img {
    width: 50%;
}
#section4 p{
    font-size: 30%;
}
/*------------section5----------*/
#section5 .container{
    padding-left: 4em;
}
/*#section5 p{
    font-size: 40%;
}*/
/*--------------------section7--------------------*/
#section7 .container-block{
    padding-bottom: 8em;
}
/*--------------------footer-------------------*/
footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
}
footer h1{
    font-size: 2.5rem;
}
footer h1, footer h3{
    color: white;

}
footer .container{
    position: relative;
    height: 22rem;
}
footer .container p{
color: white;
width: 65%;
}
footer .contact{
    display: flex;
width: 100%;
}
footer .logo{
    display: flex;
    margin-top: -15px;
}
footer .logo img{
    width: 3.5rem;
padding-right: 1rem;
height: 2.5rem;
}
footer container>*{
    padding: 0 2rem 1rem 0;
}
footer .social img, .contact img{
    width: 20px;
    height: 20px;
    margin-right: .5em;
    cursor: pointer;
}
footer .social{
    position: absolute;
    bottom: .5rem;
    width: 100%;

}
footer .container h3{
    padding-bottom: 2rem;

}
footer{
    position: relative;
    padding-top: 5rem;
}
/*-------------form--------------*/
form{
    display: flex;
    justify-content: space-between;
}
form input{
    width: 70%;
    padding: 1rem;
border: none;
border-radius: 5px;

}
form button{
    height: 100%;
    padding: 1.8rem;
    width: 27%;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(.8rem,1vw,1rem);
}
form button:hover{
color: hsl(192, 100%, 9%);
background-color: white;


}
.footer-curve{
    position: absolute;
    top: 0;
    background-color: white;
    background-image: url("./images/bg-footer-top-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
}
.curve-bottom{
    position: absolute;
    top: 0;
    background-color: white;
    background-image: url("./images/bg-section-bottom-desktop-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 8rem;
}
.curve-top2{
    position: absolute;
    top: 0;
    background-color: white;
    background-image: url("./images/bg-section-top-desktop-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 8rem;
}
.curve-bottom2{
    position: absolute;
    top: 0;
    background-color: white;
    background-image: url("./images/bg-section-bottom-desktop-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 8rem;

}
/*-------media queries--------------*/
@media(max-width:900px){
    .container p, h2{
        width: 90%;
        text-align: center;

}
.wrapper{
    width: 90%;
    flex-direction: column;  
}
.container-block{
    width: 90%;
    padding: 5em 0 3em 0;

}
.container, .img{
    width: 100%;

}
.img{
    order: -1;
}

}
/*--------------Nav--------------------*/
Nav{
    padding: 2rem 1.5rem 0 1.5rem;

}
#section2.wrapper{
    width: 80%;
}
#section3 img{
    left: 0;
} 
#section3.container{
    justify-content: flex-end;
    padding-top: 0;
}
#section5.container{
    padding-left: 0;
}
#section7.container-block{
    padding: 0 0 9rem 0;
}
footer .container p{
    text-align: left;
}
footer.logo{
    margin-top: 0;

}
form{
    display: flex;
    flex-direction: column;
}
form input{
    width: 100%;
}
form button{
    margin-top: 1rem;
    align-self: flex-end;
}
.footer-curve{
    background-image: url("./images/bg-footer-top-mobile.svg");
    height: 15rem;
}
.curve-top1{
    background-image: url("./images/bg-section-top-mobile-1.svg");
    height: 10rem;
}
.curve-bottom1{
    background-image: url("./images/bg-section-bottom-mobile-1.svg");
    height: 10rem;
}
.curve-top2{
    height: 10rem;
    background-image: url("./images/bg-section-top-mobile-2.svg");
}
.curve-bottom2{
    height: 10rem;
    background-image: url("./images/bg-section-bottom-mobile-2.svg");
}